/* Esta hoja de estilos es para importar */
/* las demas hojas de estilos secundarias */

/* Formulario para registrarse */
@import url(components/registrarse.css);
/* Estilos para el slider */
@import url(components/slider.css);
/* Estilos para la pagina producto */
@import url(components/producto.css);
/* Estilos para la pagina del carrito */
@import url(components/carrito.css);
/* Estilos para la pagina de facturar */
@import url(components/facturar.css);

/* Estilos para las categorias */
.new {
    max-width: 79rem;
    width: 100%;
    margin: 2rem 0;
    padding: 0 1rem;

    color: var(--morado);

    display: flex;
    flex-flow: column nowrap;
}
.new__title {
    margin: 0 0 2rem 0;

    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
.new__title--start {
    text-align: start;
}
.new__items {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}
.card {
    background-color: var(--white);
    width: 18rem;
    height: 21rem;
    margin: 0 0 1rem 0;

    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    transition: ease .5s;
}
.card:hover {
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}
.card__img {
    width: 100%;
    height: 60%;
}
.card__content {
    margin: .5rem 0 0 0;
    padding: 1rem;
}
.card__precioAnterior {
    text-decoration: line-through;
}
.card__precio {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}
.card__title {
    font-size: 1.5em;
    font-weight: bold;
}
.card__descuento {
    margin: 0 0 0 1rem;
    font-size: 1.2em;
    color: var(--secondary);
}
.card__text {
    margin: .5rem 0 0 0;
}
  
/* Para que no quede un espacio despues del footer */
.new--70vh {
    min-height: 70vh;
}

